
.idea/

.ipynb_checkpoints/
*/.ipynb_checkpoints/
BOOKS/Machine_Learning_in_Action/MLiA_SourceCode/
03_CFD/培训_中级_静电.ipynb
01_Books/05_Machine Learning in Action/随书下载/
01_Books/06_CPP Primer/VS/
**/*.exe
**/.vscode/